<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category | title }} Collection | Mall SKS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% include "header.html" %}

<section class="category-section">

    <h2 class="category-title">{{ category | title }} Collection</h2>

    <div class="product-grid">

        {% for product in products %}
        <div class="product-card">

           <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">

            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p class="price">₹{{ product.price }}</p>
            </div>

            <div class="product-actions">
                <a href="/add/{{ product.id }}" class="btn-cart">Add to Cart</a>
                <a href="/product/{{ product.id }}" class="btn-buy">View</a>
            </div>

        </div>
        {% endfor %}

    </div>

    {% if products|length == 0 %}
        <p class="empty-msg">No products available</p>
    {% endif %}

</section>

{% include "footer.html" %}

</body>
</html>
