<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-auth-compat.js"></script>

</head>
<body>
<h1>FIREBASE VERSION LOGIN</h1>

<h2>Login with Mobile OTP</h2>

<input type="tel" id="phone" placeholder="+91XXXXXXXXXX">
<button onclick="sendOTP()">Send OTP</button>

<input type="text" id="otp" placeholder="Enter OTP">
<button onclick="verifyOTP()">Verify OTP</button>

<div id="recaptcha-container"></div>


<br><br>

<input type="text" id="otp" placeholder="Enter OTP">
<button onclick="verifyOTP()">Verify OTP</button>

<script type="module">

import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
import { getAuth, RecaptchaVerifier, signInWithPhoneNumber }
from "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js";

const firebaseConfig = {
  apiKey: "AIzaSyD2-Y2uenONOhTPyMyhpaDJOCPHzbFGAgU",
  authDomain: "sks-mall.firebaseapp.com",
  projectId: "sks-mall",
  appId: "1:240999025188:web:e813bebcd10eb43f4ba6b1"
};

const app = initializeApp(firebaseConfig);
const auth = getAuth(app);

window.recaptchaVerifier = new RecaptchaVerifier(auth, 'recaptcha-container', {
  size: 'normal',
});

function sendOTP() {
  let phone = document.getElementById("phone").value.trim();

  // remove spaces
  phone = phone.replace(/\s+/g, '');

  // auto add +91 if not present
  if (!phone.startsWith("+")) {
    phone = "+91" + phone;
  }

  const appVerifier = window.recaptchaVerifier;

  firebase.auth().signInWithPhoneNumber(phone, appVerifier)
    .then(function (confirmationResult) {
      window.confirmationResult = confirmationResult;
      alert("OTP sent");
    })
    .catch(function (error) {
      alert(error.message);
      console.log(error);
    });
}


window.verifyOTP = function () {
  const code = document.getElementById("otp").value;

  window.confirmationResult.confirm(code)
    .then((result) => {
      alert("Login success");
    })
    .catch((error) => {
      alert("Wrong OTP");
    });
}

</script>


</body>
</html>
